.latest-news-container[data-v-18dff132],.latest-news-container[data-v-f2dc6eb8]{min-height:100vh}.v--modal-overlay{overflow-y:scroll;overflow-x:hidden;background:none}.hidden-element{display:none}#cm8-algolia{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50}#cm8-algolia .v--modal-overlay{opacity:1}#cm8-algolia .v--modal{border-radius:0}#nav{padding:30px}#nav a{font-weight:700;color:#2c3e50}#nav a.router-link-exact-active{color:#42b983}.trans-enter-active,.trans-leave-active{-webkit-transition:all 1s ease;transition:all 1s ease}.trans-enter,.trans-leave-to{opacity:0}
/*
     FILE ARCHIVED ON 23:54:48 Nov 07, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:44:35 Aug 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1448.944
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.073
  cdx.remote: 0.052
  esindex: 0.009
  LoadShardBlock: 321.841 (3)
  PetaboxLoader3.datanode: 88.883 (4)
  PetaboxLoader3.resolve: 300.833 (2)
  load_resource: 97.666
*/